<!DOCTYPE html>
<html>
  <head>
    <title>Motivatr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <form class="" action="/session" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="logout">
      </form>
    <% end %>
    <%= yield %>
  </body>
</html>
